.logo {
  width: 10rem;
}
header {
  background-color: var(--header_footer-farve);
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
  place-items: center;
margin-inline: 5%;
}
.nav-links {
  display: flex;
  gap: clamp(3rem, 1.2353rem + 3.1373vw, 5rem);
  place-items: center;
}
ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-farve);
}
.hide {
  display: none;
}

/*SØGEFUNKTIONEN*/
.sogefunktion_mobil {
  display: none;
}
.sogefunktion {
  border-bottom: 2px solid var(--font-farve);
  width: 10rem;
  height: 2.5rem;
  text-align: right;
}

.sogefunktion img {
  width: 2rem;
}

/* hamburgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none; /* Skjul knappen som standard */
}

@media (max-width: 650px) {
  nav .logo {
width: 10rem;
  }
  .toggle-btn {
    display: block; /* Viser knappen, når viewporten maksimalt er 600px */
  }

  .nav-links {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .nav-links {
    display: none; /* Fjern menu-listen som standard */
  }

  .nav-links.shown {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 3px solid var(--font-farve);
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: center;
    font-size: 1.5rem;
  }
  .sogefunktion {
    display: none;
  }
  .sogefunktion_mobil {
    display: inline-block;
    width: 2rem;
  }
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before {
  width: 2em;
  height: 4px;
  background: var(--logo-farve);
  transition: transform 0.7s cubic-bezier(0, 0.01, 0.24, 1);
}

.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 8px;
}

.pressed .hamburger {
  transform: rotate(-45deg);
}

.pressed .hamburger::before {
  transform: rotate(90deg) translate(8px);
}

/*FOOTER*/
footer {
  background-color: var(--header_footer-farve);
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  place-items: center;
  text-align: center;
}
footer .logo {
  margin-inline: auto;
  padding-bottom: 0.8rem;
}

.gruppemedlemmer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
