.grid_udvalgte {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-inline: auto;
  gap: 40px;
}

.udvalgte {
  display: grid;
  gap: 20px;
}

.udvalgte_knap {
  text-align: center;
}

/*****udvalgte genre***/

.grid_genre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.genre2 {
  text-align: center;
}
.grid_genre img {
  width: 50%;
}

section {
  margin-top: 7rem;
}

#genre {
  background-color: #223550;
}
