.grid_udvalgte {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10%;
  margin-top: 20px;
}
.udvalgte_knap {
  text-align: center;
  margin-top: 20px;
}

/********DESKTOP*****/

@media (min-width: 600px) {
  .grid_udvalgte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-inline: auto;
    gap: 40px;
  }

  .udvalgte {
    display: grid;
    gap: 20px;
  }
  .udvalgte_knap {
    text-align: start;
    margin-top: 20px;
  }
  /*****udvalgte genre***/

  .grid_genre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-block: 3rem;
  }
  .genre2 {
    text-align: center;
  }
  .grid_genre img,
  .grid_film img {
    width: 50%;
  }

  .grid_3 {
    display: grid;
    gap: 20%;
  }

  .grid_film {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 3rem;
  }

  section {
    margin-top: 4rem;
  }

  #genre {
    background-color: #223550;
  }
}
